.page-header
	&__inner
		padding: 10px 0

		background-color: white
		.row
			display: flex
			align-items: center
	&__logo
		margin-left: 60px
	&__nav
		display: flex
		justify-content: center

		margin: 0
		padding: 0
		list-style: none
		li
			margin-right: 30px
			a
				font-size: 15px
				line-height: 20px
				text-transform: uppercase
				color: black
	&__info
		display: flex
		justify-content: center
	&__phone
		margin-right: 10px

		font-size: 15px
		line-height: 26px
		color: black
	&__sign
		padding: 3px 5px

		font-size: 15px
		line-height: 20px
		text-transform: uppercase
		color: white

		background-color: black